.body{
    width: 1440px;
    height: 4975px;
    background-color: #ffffff;
    margin: auto;
}

 .banner{ 
    width:1440px;
    height:813px;
    border: 2px solid goldenrod ;
  background: url(./img/header-baner/mount.jpg);
  opacity: 0.8;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  background-size: cover;


 }
.hea{ 
  width: 100%;
 height:813px;



}
.there{
display: flex;
align-items: center;
font-size: 44px;
margin: 225px 365px 0 367px;
color: #282828;
text-align: center;


}
/*.plya{



}


.cirkle{


}
.cir{



}

.pink{



}

.try{


    
}






















.design{
    width: 1440px;
    height:707px;
    border: 2px solid salmon ;

}*/
/* .features{ 
    width:1440px;
    height:675px;
    border: 2px solid fuchsia;

}*/










.responsive{
    width: 1440px;
    height: 550px;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    
    }
    .compi{
    width: 622px;
    height:1990px;
    background: url(./img/discriptionсresponseve/layer1.png);
    background-position: 0 -100px;
    opacity: 0.8;
    background-repeat: no-repeat;
    left: 0px;
    align-items: center;
    
    } 
    .cc{ 
    width: 630px;
    height: 367px;
    justify-content: center;
    float: right;
    box-sizing: border-box;
     
    }
    .comp{
    position: relative;
    left: 55px;
    height: 550px;
    display: flex;
    box-sizing: border-box;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
    
    } 
    .text{
    box-sizing: border-box;  
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-left: 52px;
    float: right;
      
    }
    .new{  
    color: #ff6d6d;
    font-size: 13px;
    width: 119px;
    height: 13px;
    font-weight: 500;
    font-style: normal;
    line-height: 3.13;
    letter-spacing: 3.2px;
    text-align: left;
    
    }
    .res{
    font-family: 'Sarabun', sans-serif;
    display: block;
    font-size: 27px;
    width: 420px;
    height: 93px;
    margin-top: 25px;
    color: #282828;
    margin-bottom: 36px;
    }
    .point{
    color: #ff6d6d;
    
    }
    .au{
    width: 492px;
    height: 96px;
    opacity: 0.66;
    font-size: 16px;
    color: #aeaeae;
    align-items: center;
    line-height: 1.63;
    margin-right: 211px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    
    }
    
    
    
    
    
    
    
    
    
    
    .developers{
    height: 648px;
    width: 1440px;
    background: url(./img/clients/group.png);
    opacity: 0.9;
    
    }
    .gays{
    display: flex;
    align-content: space-between;
    padding: 110px 167px 0px 168px;
    
    }
    .cli2{
    padding: 0 67px 0 65px;
    
    }
    .ze{
      margin:69px 241px 80px 236px ;
    
    }
    
    
    
    
    
    
    .window{
        width: 1440px;
        height: 754px;
        background-color: #f6f5f3;
        overflow: hidden;
    
    }
    
    .n{
        width: 149px;
        height: 13px;
        margin: 108px 645px 0 646px;
    }
    .s{
        width: 459px;
        height: 32px;
        margin: 15px 490px 41px 491px;
    }
    .line{
        width:75px;
        height: 17px;
        align-items: center;
        margin: 0 683px 0 688px
    }
    .a{
        width: 647px;
        height: 70px;
        margin: 0 395px 0 398px;
    }
    .zr{
        width: 820px;
        height: 375px;
        margin: 93px 311px 15px 309px;
        
    }
    
    
    
    
    
    
    /* .form{ 
        width: 1440px;
        height: 467px;
        border:1px solid palevioletred;
    
    }
    .footer{
        width: 1440px;
        height:344px ;
        border:1px solid darkred;
    }*/
    
    
    
    
    
    
    
    
    
    
    